// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#btn-grey {
  color:white;
  background: rgb(120, 114, 140);
  text-decoration: none;
}
